$columns: 37;
$gap: 30px;


@mixin create-selectors($breakpoint: null) {
    $infix: if($breakpoint == null, '', '-#{$breakpoint}');

    @for $i from 1 through $columns {
        .grid__col#{$infix}-#{$i} {
            grid-column-end: span $i;
        }
        .grid__col-offset#{$infix}-#{$i} {
            grid-column-start: $i + 1;
        }
        .grid__row#{$infix}-#{$i} {
            grid-row-end: span $i;
        }
        .grid__row-offset#{$infix}-#{$i} {
            grid-row-start: $i + 1;
        }
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-gap: $gap;
    gap: $gap;
    @media (max-width: 480px) {
        grid-gap: 10px;
        gap: 10px;
    }
}

@include create-selectors;
