.step03 {
    color: $text;
    &__image {
        text-align: right;
    }
    &__message {
        
        h5 {
            font-size: 36px;
            line-height: 48px;
            margin: 0.8em 0;
            span {
                color: $red;
            }
        }
        p {
            font-family: $roboto;
            font-size: 16px;
            line-height: 28px;
        }
        strong {
            display: block;
        }
        button {
            background: $red;
            border-radius: 8px;
            color: white;
            border: 0;
            min-width: 255px;
            height: 56px;
            margin-top: 3em;
        }
    }
}